<footer class="m-4 bg-black">
  <hr class="my-6 border-stone-700 sm:mx-auto lg:my-6" />
  <span class="block text-sm text-stone-400 text-center">
    © {new Date().getFullYear()}
    <a href="https://github.com/withoutnicks" class="hover:underline" target="_blank"
      >withoutnicks™</a
    >. All Rights Reserved.
  </span>
</footer>
