---
import Image from 'astro/components/Image.astro';

interface Props {
  image: string,
  namep: string,
  descriptionp: string
}

const {image, namep, descriptionp} = Astro.props;
---

<article class='flex gap-6 md:justify-center mb-8 md:even:flex-row-reverse'>
	<picture class='hidden md:block w-full max-w-80 h-56 bg-black/10 dark:bg-white/70 overflow-hidden rounded-2xl shadow-xl'>
		<Image
			class='relative rounded-lg duration-500 transition-all hover:-translate-y-4'
			width={320}
			height={220}
			src={image}
			alt={namep}
      referrerpolicy='no-referrer'
		/>
	</picture>
	<div class='flex flex-col justify-center gap-2'>
		<h3 class='text-xl font-extrabold'>{namep}</h3>
		<p class='max-w-96'>{descriptionp}</p>
		<section class='my-2 flex gap-2'>
			<slot name="stack-tech" />
		</section>
		<section class='flex gap-2'>
			<slot name="actions-btn" />
		</section>
	</div>
</article>
