---
import Layout from "@/layouts/Layout.astro";
import SubtitleSection from "@/components/astro/SubtitleSection.astro";
import { Button } from "@/components/atoms/button";
import { Input } from "@atoms/input";
import { Label } from "@atoms/label";
import { Textarea } from "@atoms/textarea";
---

<Layout title="Portfolio Desarrollador Web | Contactar">
  <SubtitleSection title="Contactar" />
  <form
    class="md:mx-auto md:max-w-md p-2 flex flex-col gap-4"
    name="contact"
    method="POST"
    data-netlify="true"
    netlify-honeypot="honeypot"
  >
    <input type="hidden" name="form-name" value="contact" />
    <!-- Input Honey Pot  -->
    <input type="text" name="honeypot" style="display:none;" />

    <Label className="font-space font-bold"
      >Nombre <span class="text-blue-600">*</span>
      <Input type="text" name="fullname" placeholder="Jhon Caceres..." className="mt-2" required />
    </Label>

    <Label className="font-space font-bold"
      >Email
      <span class="text-blue-600">*</span>
      <Input
        type="email"
        name="email"
        placeholder="jhon.caceres@example.com"
        className="mt-2"
        required
      />
    </Label>

    <Label className="font-space font-bold"
      >Tu mensaje
      <span class="text-blue-600">*</span>
      <Textarea
        name="message"
        placeholder="Hola, Necesito contactarte para..."
        className="resize-none mt-2"
        rows={12}
        required
      />
    </Label>
    <Button>Enviar</Button>
  </form>
</Layout>

<script>
  import { toast } from "sonner";
  document.addEventListener("astro:page-load", () => {
    const $form = document.getElementById("contact-form") as HTMLFormElement;

    if ($form) {
      $form.addEventListener("submit", handleSubmit);
    }

    async function handleSubmit(event: SubmitEvent) {
      event.preventDefault();

      if (!$form) return;

      console.log("Enviando mensaje...");

      try {
        const formData = new FormData($form);

        if (!formData.get("form-name")) {
          formData.append("form-name", "contact");
        }

        const response = await fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams(formData as any).toString(),
        });

        if (response.ok) {
          toast.success("¡Mensaje enviado con éxito! Te contactaremos pronto.");
          $form.reset();
        } else {
          throw new Error(`Parece que eso no funciono...`);
        }
      } catch (error) {
        console.error("Error al enviar el formulario:", error);
        toast.error("Error al enviar el mensaje. Por favor, inténtalo de nuevo.");
      }
    }
  });
</script>
