---
import { ModeToggle } from '@/components/react/ModeToggle';
import { Linkedin, Github } from 'lucide-react';
import { Separator } from "@/components/ui/separator";
import LinkComp from './astro/LinkComp.astro';
---

<header class="w-full flex items-center justify-between p-2 h-[8vh] z-10">
  <h2 class='text-xl font-bold'>gerardo</h2>
  <div class='flex items-center gap-2'>
    <LinkComp href="https://www.linkedin.com/in/grardocaycho/" description="Link to Linkedin">
      <Linkedin size={19.2} />
    </LinkComp>
    <LinkComp href='https://github.com/withoutnicks' description='Link to GitHub'>
      <Github size={19.2} />
    </LinkComp>
    <div class="h-[4vh]">
      <Separator orientation="vertical" />
    </div>
    <ModeToggle client:load />
  </div>
</header>
  

  