---
import { Mail, FileText } from 'lucide-react';
import { Badge } from '@/components/ui/badge';
import { Button, buttonVariants } from './ui/button';
---

<section class='grid h-[92vh] place-content-center place-items-center text-center gap-4'>
	<div class='flex justify-center relative w-full item'>
		<Badge variant='primary'> looking for work </Badge>
		<img src="profile.webp" alt='Selfie for my portfolio' class='size-40 rounded-full' loading='eager' />
	</div>
	<div class='flex flex-col'>
		<h1 class='text-4xl md:text-4xl font-bold'>
			Nice to meet you!<br /> I&apos;m
			<span class='hover:text-emerald-500 dark:hover:text-well-red-600 transition duration-300 ease-in-out'>
				Gerardo Caycho
			</span>
		</h1>
		<p class='my-4'>Frontend Web Developer. Lima, Peru.</p>
		<section class='flex flex-col mx-auto sm:flex-row gap-2'>
			<Button variant='outline' id='btnCopyEmail'>
				<Mail className='mr-2 h-4 w-4' />Contact Email
			</Button>
			<a
				class={buttonVariants({ variant: 'primary' })}
				href='/cv_gcaycho.pdf'
				target='_blank'
				rel='noopener noreferrer'
			>
				<FileText className='mr-2 h-4 w-4' />View CV
			</a>
		</section>
	</div>
</section>

<script>
	import toast from 'react-hot-toast';
	const $btn = document.querySelector('#btnCopyEmail');

	$btn?.addEventListener('click', () => {
		navigator.clipboard.writeText('gcaycho07@gmail.com');
		toast('Email copied in clipboard');
	});
</script>
