---
import SubtitleComp from '@/components/astro/SubtitleComp.astro';
import CardProjectComp from './astro/CardProjectComp.astro';
import CardBtnComp from './astro/CardBtnComp.astro';
import IconAT from '@/components/icons/IconAT.astro';
import IconMS from '@/components/icons/IconMS.astro';
import IconDY from '@/components/icons/IconDY.astro';
import IconPL from './icons/IconPL.astro';
import IconLV from './icons/IconLV.astro';
import IconLW from './icons/IconLW.astro';
import IconSC from './icons/iconSC.astro';
import IconVC from './icons/IconVC.astro';
import { FolderKanban, ExternalLink, Code } from 'lucide-react';
---

<SubtitleComp title='Projects'>
	<FolderKanban size={32} />
</SubtitleComp>

<section class='p-4'>
	<CardProjectComp
		image='/poster/web.svg'
		namep='La casa Informatica'
		descriptionp='Design the landing page of the La Casa Informatica academy, this page seeks to inform/attract new students'
	>
		<!-- Icons -->
		<IconAT class='text-slate-500 dark:text-slate-400' slot='stack-tech' />
		<IconSC slot='stack-tech' />
		<IconPL slot='stack-tech' />
		<!-- Buttons -->
		<CardBtnComp
			href='https://github.com/withoutnicks/landing-la-casa-informatica'
			text='Repository'
			variantbtn='secondary'
			slot='actions-btn'
		>
			<Code className='ml-2 size-4' />
		</CardBtnComp>
		<CardBtnComp href='lacasainformatica.netlify.app/' text='Visit' variantbtn='default' slot='actions-btn'>
			<ExternalLink className='ml-2 size-4' />
		</CardBtnComp>
	</CardProjectComp>
	<CardProjectComp
		image='/poster/admin.svg'
		namep='Odontosalud'
		descriptionp='Laravel project with Livewire for appointment management of a dental center, with roles and user search functions'
	>
		<!-- Icons -->
		<IconLV slot='stack-tech'/>
		<IconLW slot='stack-tech' />
		<IconMS slot='stack-tech' />
		<!-- Buttons -->
		<CardBtnComp
			href='https://github.com/withoutnicks/odontosalud-laravel'
			text='Repository'
			variantbtn='secondary'
			slot='actions-btn'
		>
			<Code className='ml-2 size-4' />
		</CardBtnComp>
	</CardProjectComp>
	<CardProjectComp
		image='/poster/speed.svg'
		namep='Extension for VSC'
		descriptionp='Collection of snippets for Javascript, Typescript, React with JSX and TSX.'
	>
		<!-- Icons -->
		<IconVC slot='stack-tech' />
		<!-- Buttons -->
		<CardBtnComp
			href='https://github.com/withoutnicks/react-and-js-snippets'
			text='Repository'
			variantbtn='secondary'
			slot='actions-btn'
		>
			<Code className='ml-2 size-4' />
		</CardBtnComp>
		<CardBtnComp href='https://marketplace.visualstudio.com/items?itemName=wts-dev.wts-react-js-snippets' text='Store' variantbtn='default' slot='actions-btn'>
			<ExternalLink className='ml-2 size-4' />
		</CardBtnComp>
	</CardProjectComp>
</section>
