---
import SubtitleSection from "@astro/SubtitleSection.astro";
import { Badge } from "@ui/badge";
---

<SubtitleSection title="Habilidades" />

<section class="flex flex-col justify-center gap-2 p-2">
  <div class="sm:mx-auto">
    <small>Lenguajes:</small>
    <Badge variant="secondary">TypeScript</Badge>
    <Badge variant="secondary">CSS</Badge>
    <Badge variant="secondary">PHP</Badge>
  </div>
  <div class="sm:mx-auto">
    <small>Framework's/Librerias:</small>
    <Badge variant="secondary">Astro</Badge>
    <Badge variant="secondary">React</Badge>
    <Badge variant="secondary">Next.js</Badge>
  </div>
</section>
