---
import SubtitleSection from "@astro/SubtitleSection.astro";
---

<SubtitleSection title="Educacion" />

<section class="md:mx-auto md:max-w-xl p-2">
  <div class="flex gap-x-3">
    <div
      class="relative after:absolute after:bottom-0 after:start-3.5 after:top-7 after:w-px after:-translate-x-[0.5px] after:bg-gray-300 last:after:hidden dark:after:bg-neutral-700"
    >
      <div class="relative z-10 flex size-7 items-center justify-center">
        <div class="size-2 rounded-full bg-neutral-600"></div>
      </div>
    </div>

    <div class="grow text-wrap py-4">
      <h3 class="flex items-center gap-x-1.5 font-semibold text-white">
        <img
          src="/idat.webp"
          alt="Logo institute IDAT"
          class="hidden size-4 rounded-lg invert sm:block"
          loading="lazy"
        />
        Desarrollo de sistemas de información - IDAT
      </h3>
      <p class="mt-1 max-w-lg text-sm text-neutral-400">
        Egresado de la carrera técnica de Desarrollo de Sistemas del Instituto de Tecnología de la Información y
        la Comunicación (IDAT) de Lima, Perú.
      </p>
    </div>
  </div>
</section>
