---
import SubtitleSection from "@/components/astro/SubtitleSection.astro";
import { GraduationCap } from "lucide-react";
---

<SubtitleSection title="Education">
	<GraduationCap size={32} />
</SubtitleSection>

<section class="p-4 md:mx-auto md:max-w-xl">
	<!-- Heading -->
	<div class="my-2 ps-2 first:mt-0">
		<h3 class="text-xs font-medium uppercase text-neutral-400">2022 - 2024</h3>
	</div>
	<!-- End Heading -->

	<!-- Item -->
	<div class="flex gap-x-3">
		<!-- Icon -->
		<div
			class="relative after:absolute after:bottom-0 after:start-3.5 after:top-7 after:w-px after:-translate-x-[0.5px] after:bg-gray-300 last:after:hidden dark:after:bg-neutral-700"
		>
			<div class="relative z-10 flex size-7 items-center justify-center">
				<div class="size-2 rounded-full bg-neutral-600"></div>
			</div>
		</div>
		<!-- End Icon -->

		<!-- Right Content -->
		<div class="grow text-wrap py-4">
			<h3 class="flex items-center gap-x-1.5 font-semibold text-white">
				<img
					src="/idat.webp"
					alt="Logo institute IDAT"
					class="hidden size-4 rounded-lg invert sm:block"
					loading="lazy"
				/>
				Information Systems Development - IDAT
			</h3>
			<p class="mt-1 max-w-lg text-sm text-neutral-400">
				Graduated in the technical career of Systems Development or Computing and Informatics at the Idat institute in
				Lima, Peru
			</p>
		</div>
		<!-- End Right Content -->
	</div>
	<!-- End Item -->
</section>
